@use "sass:map";

body, html, #root {
  height: 100%;
}

.app {
  font-family: Roboto, sans-serif;
  background: url('../img/app-background.jpg') top left no-repeat;
  background-size: contain;
  padding: 25px 15px;
  height: 100%;
  font-weight: 200;
  box-sizing: border-box;
  // todo delete
  //width: 390px;

  &__block {
    background: rgba(255, 255, 255, 0.87);
    border: 1px solid #F5EEFF;
    box-shadow: 0 0 16px rgba(206, 162, 249, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 16px;
    position: relative;
  }
}

.filters {
  z-index: 2;
  &__label {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 9px;
  }

  &__date-input-wrap {
    display: flex;
  }

  &__input {
    min-height: 36px;
    border: 1px solid #CCA1FB !important;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &__date-input {
    flex-grow: 1;
    text-align: center;
    width: 100%;
    .react-daterange-picker__wrapper {
      border: none;
      justify-content: center;
    }
    .react-daterange-picker__calendar {
      width: calc(100% + 36px + 16px);
      max-width: 500px;
    }
    .react-daterange-picker__inputGroup {
      flex-grow: 0;
    }
    .react-daterange-picker__inputGroup__input:focus-visible {
      outline: none;
    }
  }

  &__date-submit {
    width: 36px;
    height: 36px;
    background: linear-gradient(135deg, #C99EFD 0%, #FFD2BF 100%);
    box-shadow: 0 0 5px #CDA2F9;
    border-radius: 4px;
    display: flex;
    margin-left: 16px;
    cursor: pointer;
  }

  &__date-submit-icon {
    width: 36px;
    height: 36px;
    padding: 7px;
    box-sizing: border-box;
    background: url('../img/submit.svg') center center no-repeat;
  }

  &__types {
    margin-top: 16px;
  }

  &__types-item {
    padding: 4px 8px;
    border: 1px solid #2AC34C;
    border-radius: 15px !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
    margin-bottom: 8px !important;
    font-size: .935rem;
    box-sizing: border-box;
    cursor: pointer;
  }

  @media screen and (max-width: 375px) {
    &__types-item {
      padding: 4px 4px;
    }
  }

  //@each $name, $color in $colors {
  //  &__types-item_#{$name} {
  //    border-color: $color;
  //    color: $color;
  //  }
  //
  //  #{&}__types-item_#{$name}#{&}__types-item_active {
  //    background-color: $color;
  //    color: #ffffff;
  //  }
  //}
}

.chart {
  z-index: 1;
  min-height: 250px;
  padding: 10px;

  &_empty {
    text-align: center;
    font-size: 0.935rem;
  }
}

.react-daterange-picker {
  input {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.react-calendar {
  font-family: inherit;
  border: none;
  box-shadow: 0 0 5px #CDA2F9;
  border-radius: 4px;
  width: 100%;

  :where(abbr[title]) {
    text-decoration: none;
    font-weight: bold;
  }

  &__navigation button {
    min-width: 35px;
  }

  &__navigation button {
    font-family: inherit;
  }

  &__navigation__arrow {
    font-size: 1.4rem;
  }

  &__month-view__weekdays {
    font-weight: 400;
  }

  &__tile {
    font-family: inherit;
  }

  &__tile--hasActive {
    background: map.get($colors, darkblue);
    color: #ffffff;
  }
  &__tile--active {
    background: lighten(map.get($colors, darkblue), 15);
  }

  &__tile--active:enabled:hover,
  &__tile--active:enabled:focus {
    background: map.get($colors, darkblue);
  }

  &__month-view__days__day--weekend {
    color: darken(map.get($colors, pink), 30);
  }
}