@import-normalize;
:export {
  pink: #fc83c6;
  blue: #60cee9;
  darkblue: #6186fb;
}

:root {
  color-scheme: light only;
}

body, html, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background: url("../img/white-pixel.gif") repeat;
}

.app {
  font-family: Roboto, sans-serif;
  background-color: #fff !important;
  background-image: url("../img/app-background.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding: 15px 15px;
  min-height: 100%;
  font-weight: 200;
  box-sizing: border-box;
}
.app__block {
  background: rgba(255, 255, 255, 0.87);
  border: 1px solid #F5EEFF;
  box-shadow: 0 0 16px rgba(206, 162, 249, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 16px;
  position: relative;
}

.filters {
  z-index: 2;
  padding-bottom: 0;
}
.filters__label {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 9px;
}
.filters__date-input-wrap {
  display: flex;
}
.filters__input {
  min-height: 36px;
  border: 1px solid #CCA1FB !important;
  border-radius: 4px;
  box-sizing: border-box;
}
.filters__date-input {
  flex-grow: 1;
  text-align: center;
  width: 100%;
}
.filters__date-input .react-daterange-picker__wrapper {
  border: none;
  justify-content: center;
}
.filters__date-input .react-daterange-picker__calendar {
  width: calc(100% + 36px + 16px);
  max-width: 500px;
}
.filters__date-input .react-daterange-picker__inputGroup {
  flex-grow: 0;
  display: flex;
  align-items: baseline;
}
.filters__date-input .react-daterange-picker__inputGroup__input:focus-visible {
  outline: none;
}
.filters__date-submit {
  width: 36px;
  height: 36px;
  background: linear-gradient(135deg, #C99EFD 0%, #FFD2BF 100%);
  box-shadow: 0 0 5px #CDA2F9;
  border-radius: 4px;
  display: flex;
  margin-left: 16px;
  cursor: pointer;
}
.filters__date-submit-icon {
  width: 36px;
  height: 36px;
  padding: 7px;
  box-sizing: border-box;
  background: url("../img/submit.svg") center center no-repeat;
}
.filters__types {
  margin-top: 16px;
}
.filters__types-item {
  padding: 4px;
  border: 1px solid #2AC34C;
  border-radius: 15px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
  margin-bottom: 3px !important;
  font-size: 0.935rem;
  box-sizing: border-box;
  cursor: pointer;
}
.filters__types-filter {
  margin: 16px -3px -3px;
}
.filters__types-filter-scroll {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}
.filters__types-filter-scroll_active {
  cursor: grabbing;
}
.filters__types-filter-scroll_active .filters__types-filter-item {
  cursor: grabbing;
}
.filters__types-filter-wrapper {
  width: 130%;
  padding: 10px 0 10px 0;
}
.filters__types-filter-item {
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid currentColor;
  border-radius: 15px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
  box-sizing: border-box;
  cursor: pointer;
}
.filters__types-filter-item span {
  color: currentColor;
}
.filters__types-filter-item_active {
  background-color: currentColor;
  border: 1px solid currentColor;
}
.filters__types-filter-item_active span {
  color: #ffffff;
}
@media screen and (max-width: 375px) {
  .filters__types-item {
    padding: 4px 4px;
  }
}

.chart {
  z-index: 1;
  padding: 10px;
}
.chart_empty {
  text-align: center;
  font-size: 0.935rem;
}

.react-daterange-picker input {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.react-calendar {
  font-family: inherit;
  border: none;
  box-shadow: 0 0 5px #CDA2F9;
  border-radius: 4px;
  width: 100%;
}
.react-calendar :where(abbr[title]) {
  text-decoration: none;
  font-weight: bold;
}
.react-calendar__navigation button {
  min-width: 35px;
}
.react-calendar__navigation button {
  font-family: inherit;
}
.react-calendar__navigation__arrow {
  font-size: 1.4rem;
}
.react-calendar__month-view__weekdays {
  font-weight: 400;
}
.react-calendar__tile {
  font-family: inherit;
}
.react-calendar__tile--hasActive {
  background: #6186fb;
  color: #ffffff;
}
.react-calendar__tile--active {
  background: #acbffd;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: #6186fb;
}
.react-calendar__month-view__days__day--weekend {
  color: #e1057f;
}

.notes {
  padding-bottom: 20px;
}

.custom-tooltip {
  position: relative;
  padding-bottom: 20px;
}

/*# sourceMappingURL=index.css.map */
